<%= link_to "back", categories_path %>


<div class = "banner d-flex justify-content-center align-items-center">
    <h1><%= @category.name %></h1>
</div>


<div class = "container">
  <div class="d-flex justify-content-between align-items-center">
    <h1>Bookmarks</h1>
    <%= link_to "Add Bookmark", new_category_bookmark_path(@category, @bookark), class: "btn btn-warning" %>
  </div>

  <div class="container d-flex justify-content-between align-items-center py-3">
    <% @category.bookmarks.each do |bookmark| %>
      <div class="card-recipe">

        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="p-3">
            <h3><%= bookmark.recipe.name %></h3>
            <p><%= bookmark.recipe.description %></p>
        </div>
        <div class="card-recipe-infos">
          <h3><%= bookmark.comment %></h3>
          <h3><%= bookmark.recipe.rating %></h3>
          <%= link_to "delete" , bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } ,class: "card-icon" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
